<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isgil27.enginetools11">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ElectronicaRecursos.ElectronicaRecursos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ControlRecursos.ControlRecursos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.TermoRecursos.TermoRecursos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.CalculoRecursos.CalculoRecursos"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.CalculoRecursos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Herramientas.Convertidor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Convertidor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Herramientas.Interpolacion"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Herramientas.EcuacionSolver"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.EcuacionSolver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ElectronicaRecursos.Datasheets"
            android:parentActivityName=".Recursos.ElectronicaRecursos.Datasheets">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ElectronicaRecursos.Datasheets" />

            <intent-filter>
                <action android:name="android.intent.action.Datasheets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ElectronicaRecursos.Capacitor"
            android:parentActivityName=".Recursos.ElectronicaRecursos.Capacitor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ElectronicaRecursos.Capacitor" />

            <intent-filter>
                <action android:name="android.intent.action.Capacitor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Recursos.ElectronicaRecursos.AmplOper"></activity>

        <activity android:name=".Recursos.CalculoRecursos.Integrales"></activity>
        <activity android:name=".Recursos.CalculoRecursos.Derivadas"></activity>
        <activity android:name=".Recursos.CalculoRecursos.Laplace"></activity>
        <activity android:name=".Recursos.CalculoRecursos.Fourier"></activity>

        <activity android:name=".Recursos.ControlRecursos.DiagBloq"></activity>
        <activity android:name=".Recursos.ControlRecursos.SPO"></activity>
        <activity android:name=".Recursos.ControlRecursos.SSO"></activity>

        <activity android:name=".Recursos.TermoRecursos.TablaAgua"></activity>
        <activity android:name=".Recursos.TermoRecursos.TablaRef"></activity>
        <activity android:name=".Recursos.TermoRecursos.CartaPsi"></activity>
        <activity android:name=".Recursos.TermoRecursos.GasIdeal"></activity>

        <activity android:name=".Bibliografia.CalculoBiblio"></activity>
        <activity android:name=".Bibliografia.CotrolBibliografia"></activity>
        <activity android:name=".Bibliografia.TermoBiblio"></activity>
        <activity android:name=".Bibliografia.ElectroBiblio"></activity>
    </application>

</manifest>