<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isgil27.enginetools11">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherprueba"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherprueba_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ElectronicaRecursos.ElectronicaRecursos"
            android:parentActivityName=".Recursos.ElectronicaRecursos.ElectronicaRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ElectronicaRecursos.ElectronicaRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ControlRecursos.ControlRecursos"
            android:parentActivityName=".Recursos.ControlRecursos.ControlRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ControlRecursos.ControlRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.TermoRecursos.TermoRecursos"
            android:parentActivityName=".Recursos.TermoRecursos.TermoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.TermoRecursos.TermoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.CalculoRecursos.CalculoRecursos"
            android:parentActivityName=".Recursos.CalculoRecursos.CalculoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.CalculoRecursos.CalculoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.CalculoRecursos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Herramientas.Convertidor"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Convertidor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Herramientas.Interpolacion"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Interpolacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Herramientas.EcuacionSolver"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.EcuacionSolver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ElectronicaRecursos.Datasheets"
            android:parentActivityName=".Recursos.ElectronicaRecursos.Datasheets">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ElectronicaRecursos.Datasheets" />

            <intent-filter>
                <action android:name="android.intent.action.Datasheets" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recursos.ElectronicaRecursos.Capacitor"
            android:parentActivityName=".Recursos.ElectronicaRecursos.Capacitor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ElectronicaRecursos.Capacitor" />

            <intent-filter>
                <action android:name="android.intent.action.Capacitor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Recursos.ElectronicaRecursos.AmplOper"
            android:parentActivityName=".Recursos.ElectronicaRecursos.AmplOper">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ElectronicaRecursos.AmplOper" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            ></activity>

        <activity android:name=".Recursos.CalculoRecursos.Integrales"

            android:parentActivityName=".Recursos.CalculoRecursos.CalculoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.CalculoRecursos.CalculoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            ></activity>
        <activity android:name=".Recursos.CalculoRecursos.Derivadas"
            android:parentActivityName=".Recursos.CalculoRecursos.CalculoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.CalculoRecursos.CalculoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.CalculoRecursos.Laplace"
            android:parentActivityName=".Recursos.CalculoRecursos.CalculoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.CalculoRecursos.CalculoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.CalculoRecursos.Fourier"
            android:parentActivityName=".Recursos.CalculoRecursos.CalculoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.CalculoRecursos.CalculoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>

        <activity android:name=".Recursos.ControlRecursos.DiagBloq"
            android:parentActivityName=".Recursos.ControlRecursos.ControlRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ControlRecursos.ControlRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.ControlRecursos.SPO"
            android:parentActivityName=".Recursos.ControlRecursos.ControlRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ControlRecursos.ControlRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.ControlRecursos.SSO"
            android:parentActivityName=".Recursos.ControlRecursos.ControlRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.ControlRecursos.ControlRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>

        <activity android:name=".Recursos.TermoRecursos.TablaAgua"
            android:parentActivityName=".Recursos.TermoRecursos.TermoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.TermoRecursos.TermoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.TermoRecursos.TablaRef"
            android:parentActivityName=".Recursos.TermoRecursos.TermoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.TermoRecursos.TermoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.TermoRecursos.CartaPsi"
            android:parentActivityName=".Recursos.TermoRecursos.TermoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.TermoRecursos.TermoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Recursos.TermoRecursos.GasIdeal"
            android:parentActivityName=".Recursos.TermoRecursos.TermoRecursos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Recursos.TermoRecursos.TermoRecursos" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>

        <activity android:name=".Bibliografia.CalculoBiblio"
            android:parentActivityName=".Bibliografia.CalculoBiblio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Bibliografia.CalculoBiblio" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Bibliografia.CotrolBibliografia"
            android:parentActivityName=".Bibliografia.CalculoBiblio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Bibliografia.CalculoBiblio" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Bibliografia.TermoBiblio"
            android:parentActivityName=".Bibliografia.CalculoBiblio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Bibliografia.CalculoBiblio" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
        <activity android:name=".Bibliografia.ElectroBiblio"
            android:parentActivityName=".Bibliografia.CalculoBiblio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Bibliografia.CalculoBiblio" />

            <intent-filter>
                <action android:name="android.intent.action.AmplOper" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            ></activity>
    </application>

</manifest>